.body {
    font-family: Arial, Helvetica, sans-serif!important;
}

header {
    position: relative;
    top: -30px;
}

.page_headertext {
    text-align: left;
}

.notify_icon h1 {
    text-align: right;
    position: relative;
    top: -60px;
    margin-bottom: -35px;
    color: #000000;
}

.page_description {
    color: grey;
    position: relative;
    top: -15px;
    text-align: left;
}

hr {
    height: 1px;
    background-color: #d4d4d5;
    border: none;
    opacity: 0.5;
}

.gradient_screen {
    height: 180px;
    width: 100%;
    background: linear-gradient(150deg, #981ee3 45%, #fb9d79, #fee989);
    border-radius: 13px;
}

.rayda_logo {
    background: #f4ebfe;
    border: #ffffff 4px solid;
    border-radius: 20px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    display: -webkit-box;
    margin-right: auto;
    margin-left: 30px;
}

.dot {
    margin-right: 5px;
    position: relative;
    top: -2px;
    color: orange;
}

.thumb {
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.time {
    text-align: left;
    position: relative;
    top: -80px;
}

.invite {
    text-align: left;
    position: relative;
    top: -55px;
}

.sec_two_heading {
    margin-top: -50px;
}

.featured_items {
    text-align: left;
}

.align_left_right {
    display: flex!important;
    justify-content: left!important;
}

.view_auction {
    text-transform: capitalize!important;
}

.sec_two hr {
    height: 1px;
    background-color: #d4d4d5;
    border: none;
    opacity: 0.5;
    position: relative;
    top: 20px;
}

.displayed_items_container {
    position: relative;
    top: 40px;
}

.displayed_items {
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    border: #f6f6f8 1px solid;
    border-radius: 7px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    height: 100%;
    box-shadow: 0px 0px 5px -3px grey;
    margin-bottom: 30px;
}

.item_image {
    margin-bottom: 20px;
}

.item_name {
    margin-bottom: 20px;
    font-size: 11.5px;
    font-weight: 750;
}

.item_title {
    margin-bottom: 20px;
}

.item_bid {
    color: #464444;
    margin-bottom: 10px;
}

.KO {
    opacity: 0.8;
    color: #464444;
    border: 1px solid #f2f4f7;
    background-color: #f2f4f7;
    font-size: 15px;
    padding: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.highest_bidder {
    opacity: 0.6;
    color: grey;
    font-weight: 100;
}

@media only screen and (min-width: 768px) {
    .time {
        margin-left: 210px;
        position: relative;
        top: -165px;
    }
    .invite {
        text-align: right;
        position: relative;
        top: -180px;
    }
    .sec_one {
        border: #f6f6f8 1px solid;
        border-radius: 7px;
        position: relative;
        top: 13px;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 5px;
        height: 290px;
        box-shadow: 0px 0px 5px -3px grey;
    }
    .sec_two_heading {
        position: relative;
        top: 95px;
    }
    .view_auction {
        text-align: right;
        position: relative;
        top: -50px;
    }
    .align_left_right {
        justify-content: right!important;
    }
    .sec_two hr {
        position: relative;
        top: 57px;
    }
    .displayed_items_container {
        position: relative;
        top: 80px;
        border: #f6f6f8 1px solid;
        border-radius: 7px;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        height: 3425px;
        box-shadow: 0px 0px 5px -3px grey;
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 785px) {
    .invite {
        top: -150px;
    }
}

@media only screen and (min-width: 946px) {
    .invite {
        position: relative;
        top: -187px;
    }
    .sec_one {
        height: 280px;
    }
}