.body {
    font-family: Arial, Helvetica, sans-serif!important;
}

header {
    position: relative;
    top: -30px;
    text-align: left;
}

.page_description {
    color: grey;
    position: relative;
    top: -35px;
}

hr {
    position: relative;
    top: -30px;
}